.logo{
    margin-left: 57rem;
}

.kepala1{
    font-family: 'Fredoka One', sans;
}
.kepala2{
    font-family: 'montserrat', sans;
    line-height: 52.2px;
    font-size: 32px;
}
.moko{
    -webkit-text-stroke: 3px #523215;
}
.reko{
    transform: translateY(240%);
    -webkit-text-stroke: 3px #523215;
}
.bgImage .wave{
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.food{
    position:absolute;
    margin-left: 5rem;
    transform:translateY(-300%);
}
.food-text{
    font-family: 'Fredoka One', sans;
    font-size: 32px;
    position:absolute;
    margin-left: 6rem;
    transform:translateY(-740%);
}
.food-text h3{
    filter: drop-shadow(0 4px #222014);
    margin-left: 6rem;
    margin-right: 10rem;
}
.food img{
    margin-left:6rem;
    margin-right:6rem;
}
.btn{
    font-family: 'Fredoka One', sans-serif; 
    font-size: 32px;
    background-color: #523215;
    width: 291px;
    height: 59px;
    text-align:center;
    margin-left: 38rem;
    border-radius: 12px;
    transform:translateY(-340%);
}
